nav {
    position: fixed;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-color: #363636;
    color: #F1EFE7;
    z-index: 1000;
}

nav #logo {
    height: 60px;
}

nav .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

nav .nav-links li {
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #F1EFE7;
    padding: 0 25px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    white-space: nowrap;
}

nav .nav-links li a .arrow-down {
    margin-left: 10px;
    transition: 0.5s;
}

nav .nav-links li a:hover {
    background-color: #F1EFE7;
    color: #363636;
}

nav .nav-links li a:hover .arrow-down {
    transform: rotate(180deg);
    fill: #363636;
}

nav .nav-links li .submenu { 
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #363636;
    opacity: 0;
    transition: all 2s ease;
}

nav .nav-links li:hover .submenu {
    display: block;
    opacity: 1;
}

nav ul.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #363636;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.5s ease;
    transform: translateX(-100%);
}

nav ul.sidebar li {
    width: 100%;
    height: auto;
}

nav ul.sidebar li a {
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F1EFE7;
    padding: 0 25px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
}

nav ul.sidebar li a:hover {
    background-color: #F1EFE7;
    color: #363636;
}

nav ul.sidebar li a .arrow-down-sidebar {
    margin-left: 10px;
    transition: 0.5s;
}

nav ul.sidebar li a:hover .arrow-down-sidebar {
    transform: rotate(180deg);
    fill: #363636;
}

nav ul.sidebar li .sidebar-submenu {
    display: none;
}

nav ul.sidebar li .sidebar-submenu li{
    list-style: none;
}

nav ul.sidebar li .sidebar-submenu li a {
    padding-left: 50px;
}

nav ul.sidebar li:hover .sidebar-submenu {
    display: block;
}

nav ul.show-sidebar {
    transform: translateX(0);
}

#menu { 
    display: none;
}

@media all and (max-width: 975px) {
    nav .nav-links .hide-on-mobile {
        display: none;
    }
    #menu {
        display: block;
        cursor: pointer;
    }
    #close {
        cursor: pointer;
    }
    nav {
        padding: 0 20px;
    }
}
